@use 'variables';


.experience-item{
    padding: 3rem 5rem;
    margin: 5rem 10rem;

    background: rgba(255,255,255,0.1);
    border-radius: 0.5rem;
    border: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(2px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;

    &::before{
      content: '';
      position: absolute;
      inset: 0;
      background-image: url('/src/assets/noise.jpg');
      opacity: 0.03;
      pointer-events: none;

    }

    .experience-content{
      .companyName-p{
        font-size: 2rem;
        padding-bottom: 0.8rem;
      }
      .duration-p{
        padding-bottom: 0.9rem;
        font-size: 1rem;
        display: flex;
        justify-content: end;
      }
      .summary-p{
        font-size: 1.3rem;
        padding-left: 2rem;
      }

      .experience-img-container{
        padding-top: 3rem;

        i{
          padding-left: 10px;
        }
      }

    }
}

@media screen and (max-width: 768px) {

  .experience-item{
      padding: 2rem;
      margin: 0;
  }

}