@use 'variables' as *;

.hero-section{
    height: 100;

    .hero-content{
        padding: 28rem 5rem 6rem 5rem;
        font-size: 5rem;
        align-items: end;
    }

    // Responsive for mobile
    @media screen and (max-width: 768px) {
        .hero-content{
            padding: 18rem 5rem 5rem 2rem;
            font-size: 3rem;
            align-items: end;
        }
    }
}

