@use 'variables';
@use 'header';
@use 'hero';
@use 'about';
@use 'contact';
@use 'skill';
@use 'experience';


@import url( "https://fonts.googleapis.com/css2?family=Forum&family=Great+Vibes&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body{
    font-family: "Forum", serif;
    color:variables.$colorIvory;
    background-image: linear-gradient(to bottom, #1A1B2E, #202334 75%, #2F3244 100%);
    background-repeat: no-repeat;
    // background-size: cover;
}

.c-space{
    padding: 6rem 3rem 7rem 3rem;
}

h2{
    font-size: 4rem;
    padding-bottom: 2rem;
    font-weight: normal;

    .twinkle-hover{
       position: relative;

        &::after{
            content: "✦";
            font-weight: lighter;
            font-size: 2.5rem;
            position: absolute;
            top: -10px;
            right: -55px;
            opacity: 0;
            color: variables.$colorIvory;
            animation: none;
            pointer-events: none;
        }
    }
    
    &:hover .twinkle-hover::after{
            animation: twinkle 2.5s ease-in-out forwards;
        }
}

// animation
@keyframes twinkle {
    0%   { opacity: 0; transform: scale(0.2) rotate(0deg) blur(15px); }
    50%  { opacity: 0.7; transform: scale(1.2) rotate(45deg) blur(8px);}
    100% { opacity: 0; transform: scale(0.6) rotate(90deg) blur(20px);}
}

// Responsive
@media screen and (max-width: 768px) {
    .c-space{
    padding: 4.2rem 1.5rem 2rem 1.5rem;
    }

    h2{
    font-size: 2.5rem;
    font-weight: normal;
    }
}