@import url( "https://fonts.googleapis.com/css2?family=Forum&family=Great+Vibes&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

$colorIvory:#faf8f5;
$colorNavy:#1A1B2E;
$colorLavender: #B9A9D0;
$colorGold: #F6E6B4;
$colorBlue:#8eaacd;
$colorMoon:#cfd9df;
$colorWinkle:#b4c5ff;
$forum: 'Forum', serif;
$great-vibes:'Great Vibes', cursive;
$playfair:'Playfair Display', serif;